.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel {
  margin-right: 1rem;
}
